body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("../Ressources/main-background.jpg");
    background-size: cover;
}
body{
    header {
        background: cornsilk;
    }
    main {
        height: 80vh;
        background: cornsilk;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "contenu1 contenu2
        contenu3 contenu4";
    }
    footer {
        background: cornsilk;
        height: 5vh;
    }
}
.contener {
    background: crimson;
}
ul {
    li {
        list-style-type: none;
    }
}
a {
    color: coral;
}
.contenu1 {
    grid-area: contenu1;
}
.contenu2 {
    grid-area: contenu2;
}
.contenu3 {
    grid-area: contenu3;
}
.contenu4 {
    grid-area: contenu4;
}