body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("../Ressources/main-background.jpg");
    background-size: cover;
}
body{
    header {
        background: cornsilk;
    }
    main {
        height: 80vh;
        background: cornsilk;
    }
    footer {
        background: cornsilk;
        height: 5vh;
    }
}
.contener {
    background: crimson;
}
ul {
    li {
        list-style-type: none;
    }
}
a {
    color: coral;
}