html, body {
    padding: 0;
    margin: 0;
}
body {
   /* display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1500px 1fr 300px;
    grid-template-areas: 
        "nav logo nav"
        "second-nav content content"
        "footer footer footer";*/
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
        "nav logo nav2"
        "logo-rel logo-rel logo-rel";
}
nav {

}
li {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 11%;
}
header > nav > ul > li {
    
}
@keyframes navDeroulement {
    0% {
        background: white;
    }
    100% {
        background: blue;
    }
}
header > nav > ul > li > a {
    border: 1px solid black;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
header > nav > ul > li > a:hover {
    color: red;
    animation: 2s navDeroulement;
    transform: translateY(100px);
}
.left-nav > li {
}
.right-nav > li {
}
a {
    text-decoration: none;
    color: black;
}
.logo{
    grid-area: logo;
}
.logo-rel {
    grid-area: logo-rel;
    text-align: center;
    font-size: 1.2em;
}
ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.left-nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;

}
.right-nav {
    grid-area: nav2;
    display: flex;
    justify-content: space-around;
}
